<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<!-- <link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
 -->

 <!-- <link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic' rel='stylesheet' type='text/css'> -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32628032-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script src="/assets/audiojs/audio.min.js"></script>

<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>


<!-- <link href='https://plus.google.com/111734605124061464121' rel='author'/>

<script type='text/javascript'>
window.___gcfg = {lang: &#39;ru&#39;};
(function()
{var po = document.createElement(&quot;script&quot;);
po.type = &quot;text/javascript&quot;; po.async = true;po.src = &quot;https://apis.google.com/js/plusone.js&quot;;
var s = document.getElementsByTagName(&quot;script&quot;)[0];
s.parentNode.insertBefore(po, s);
})();</script>

 -->

<meta content='Радио-Т, podcast, подкаст, IT подкаст, хайтек подкаст, подкаст на русском, Интернет Радио' name='Keywords'/>
