<!-- Load script if disquss comments are enabled and `page.comments` is either empty (index) or set to true  -->

{{ if $.Site.Params.disqus_short_name }}
<script type="text/javascript">
      var disqus_shortname = '{{ $.Site.Params.disqus_short_name }}';

        // var disqus_developer = 1;
        var disqus_identifier = 'http://pirates.radio-t.com/p/2017/09/09/podcast-562/';
        var disqus_url = 'http://pirates.radio-t.com/p/2017/09/09/podcast-562/';
        var disqus_script = 'embed.js';


    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>
{{ end }}
