<nav role="navigation">


  <ul class="subscription" data-subscription="rss{{ if $.Site.Params.subscribe_email }} email{{ end }}">
    <li><a href="{{ $.Site.Params.subscribe_rss }}" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
    {{ if $.Site.Params.subscribe_email }}
      <li><a href="{{ $.Site.Params.subscribe_email }}" rel="subscribe-email" title="subscribe via email">Email</a></li>
    {{ end }}
  </ul>
    {{ if $.Site.Params.simple_search }}
  <form id="simpleSearch" action="https://google.com/search/" method="get">
    <fieldset role="search">
    <input id="searchInput" class="search" type="text" name="q" results="0" placeholder="Search">
  </fieldset>
    <fieldset class="mobile-nav">
      <select>
        <option value="">Navigate…</option><option value="https://pirates.radio-t.com/">» Главная страница</option>
        <option value="https://pirates.radio-t.com/archives">» Архивы</option>
        <option value="https://pirates.radio-t.com/info">» Что это</option>
        <option value="https://radio-t.com/online">» Online вещание</option>
        <option value="https://radio-t.com/faq">» FAQ</option>
        <option value="https://feeds.feedburner.com/pirate-radio-t">» RSS</option>
      </select>
    </fieldset>
  </form>
  <script type="text/javascript">
    simpleSearch.onsubmit=function(e){
      e.preventDefault()
     window.open("https://google.com/search?q=site:pirates.radio-t.com "+searchInput.value,'_blank');
    }
  </script>
    {{ end }}






  <ul class="main-navigation">
    <li><a href="{{ .Site.BaseURL }}">Главная страница</a></li>
    <li><a href="{{ .Site.BaseURL }}posts">Архивы</a></li>
    <li><a href="{{ .Site.BaseURL }}pages/info/">Что это</a></li>
    <li><a href="https://radio-t.com/online">Online вещание</a></li>
    <li><a href="https://radio-t.com/faq">FAQ</a></li>
  </ul>


</nav>
