<div>

{{ if or (eq .URL "/") (eq (substr .URL 0 3) "/p/") }}
  <script>
    var remark_config = {
      site_id: '{{ .Site.Params.remark42 }}',
      theme: 'dark',
      page_title: document.title,
    };
    (function() {
      var d = document, s = d.createElement('script');
      var baseurl = 'https://remark42.radio-t.com';

      {{ if eq .URL "/" }}
      s.src = baseurl + '/web/counter.js';
      {{ else if eq (substr .URL 0 3) "/p/" }}
      s.src = baseurl + '/web/embed.js';
      {{ end }}

      s.type = 'text/javascript';
      (d.head || d.body).appendChild(s);
    })();
  </script>
{{ end }}

{{ block "facebook_like" . }}{{ partial "ext/facebook_like.html" }}{{ end }}
{{ block "google_plus_one" . }}{{ partial "ext/google_plus_one.html" }}{{ end }}
{{ block "twitter_sharing" . }}{{ partial "ext/twitter_sharing.html" }}{{ end }}

{{ block "google_analytics" . }}{{ partial "ext/google_analytics.html" }}{{ end }}


</div>


<script type="text/javascript">
    (function(){
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = 'https://platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();
  </script><script type="text/javascript">
    (function() {
      var script = document.createElement('script'); script.type = 'text/javascript'; script.async = true;
      script.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);
    })();
</script>




