{{ define "main" }}
<div>
  <article role='article'>

      {{ .Content }}






    {{ $section := where .Data.Pages "Section" .Section }}




        <header>
          <h1 class="entry-title">Blog Archive</h1>
        </header>



      <div id="blog-archives">
 {{ range (.Data.Pages.GroupByDate "2006") }}
   <h2>{{ .Key }}</h2>
      {{ range .Pages }}
        {{ partial "archives.html" . }}
      {{ end }}
  {{ end }}
      </div>







  {{ template "_internal/pagination.html" . }}



</article>
</div>
{{ end }}
