// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

img {
    border: 0 none;
    pagging: 0;
    box-shadow: 0px 0px 0px #FFF;
    -moz-box-shadow: 0px 0px 0px #FFF;
	-webkit-box-shadow: 0px 0px 0px #FFF;
}

body {
  font-size: 0.9em;
  color: $text-color;
  @extend .sans;
 }

body > nav {
  form {
    .search {
      padding: .4em .3em .3em;
    }
  }
}

.toggle-sidebar{display:none;}

article img {
	float: right;
 	width:200px;
 	aheight:200px;
	margin-left: 0.5em;
}

#content {
  font-size: 1em;
  color: $text-color;
  @extend .serif;
  a:link {color:#aaaaaa;}      /* unvisited link */
  a:visited {color:#aaaaaa;}  /* visited link */
  a:hover {color:#aaaaaa;}  /* mouse over link */
  a:active {color:#aaaaaa;}  /* selected link */
}

body > header {
  h1 {
    font-size: 1.5em;
    display: inline-block;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 0.3em;
    margin-top: 0.4em;
    padding-bottom: .2em;
    padding-top: .1em;
    padding-left:1em;
    margin-left: 30px;
  }
  padding-bottom: .6em;
  padding-top: .6em;
}

article h2, article h3, article header h1{
  font-weight: bold;
  margin-bottom: .0em;
  margin-top: .0em;
  font-size: 1.9em;
}

article header {
	text-align:left;
	font-size: 0.8em;
 	font-weight: normal;
 # padding: 1.2em 2.4em 0.3em .7em;
}

#content .blog-index article h1 {
  font-size: 1.6em;
  color: #526f9a;
  font-weight: bold;
  padding-bottom: .1em;
  margin-top: 0.1em;
}

aside, aside a {
	font-size: 1em;
	text-decoration: none;
}


aside ul {
	#display: none;
	padding-top: 0em;
	margin-top:0;
	pagging: 0;
	font-size:1em;
	font-weight: normal;
	list-style-type: circle;
}

aside.sidebar img {
   -moz-box-shadow: none !important;
   -webkit-box-shadow: none !important;
   -o-box-shadow: none !important;
   box-shadow: none !important;
   border-bottom: 0px none !important;
   border: 0 none;
   pagging: 3px;
   margin: 3px;
 }

body audio {
	padding-top: 1em;
	margin-top:1em;
}


