<section>

<br/>

<a rel="license" href="/license"  rel="nofollow"><img alt="Creative Commons License" style="border-width:0" align="left" hspace="1" margin="3" paging="3" src="http://dl.dropbox.com/u/71582/Podcasts/88x30.png" float="left" /></a>

Подкаст распространяется под <a href="/license">лицензией</a> CC
<br/><br/><br/>
Авторы и гости высказывают свое профессиональное и исключительно субъективное мнение. Смиритесь с тем, что оно может не совпадать с вашим мнением и наслаждайтесь.

</section>
