<section>
    <table>
      <tbody><tr>
        <td>
          <a rel="license" href="/license/"><img alt="Creative Commons License" style="border-width:0" align="left" hspace="1" margin="3px" paging="3px" src="/images/license_88x30.png" float="left"></a>
        </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>
          Подкаст распространяется под <a href="/license/">лицензией</a> CC
        </td>
      </tr>
    </tbody></table>

    <br>

    <h3>
      Авторы и гости высказывают свое профессиональное и исключительно субъективное мнение. Смиритесь с тем, что оно может не совпадать с вашим мнением и наслаждайтесь.
    </h3>
  </section>
