{{ if $.Site.Params.twitter_user }}
<section>
  <h2>Наши Tweets</h2>
  <ul id="tweets">
    <li class="loading">Status updating...</li>
  </ul>
  <script type="text/javascript">
    $.domReady(function(){
      getTwitterFeed("{{$.Site.Params.twitter_user}}", {{$.Site.Params.twitter_tweet_count}}, {{$.Site.Params.twitter_show_replies}});
    });
  </script>
  <script src='{{ "javascripts/twitter.js" | absURL }}' type="text/javascript"> </script>
  {{ if $.Site.Params.twitter_follow_button }}
    <a href="http://twitter.com/{{ $.Site.Params.twitter_user }}" class="twitter-follow-button" data-show-count="{{ $.Site.Params.twitter_show_follower_count }}">Follow @{{ $.Site.Params.twitter_user }}</a>
  {{ else }}
    <p>Follow <a href="http://twitter.com/{{$.Site.Params.twitter_user}}">@{{ $.Site.Params.twitter_user }}</a></p>
  {{ end }}
</section>
{{ end }}
