<section>
<h2>Полезное</h2>
<ul>
<li><a href="/pages/info">Информация о подкасте и ведущих</a></li>
<li><a href="/pages/online">Online вещание по субботам с 23:00</a></li>
<li><a href="http://chat.radio-t.com/">Чат подкаста, только для чтения</a></li>
<li><a href="http://radio-t.com">Подкаст Радио-Т</a></li>
<li><a href="http://feeds.feedburner.com/pirate-radio-t-torrent">Торрент-фид подкаста</a></li>
<li><a href="http://itunes.apple.com/us/app/radio-t-app/id371516632?mt=8">Радио-Т для iPhone</a></li>
<li><a href="http://market.android.com/details?id=org.dandelion.radiot">Радио-Т для Android</a></li>
</ul>
</section>
